# 개발자가 직접 생성
# .gitignore에 등록되어 있는지 확인
# Supabase Project URL
VITE_SUPABASE_URL=
# Supabase public/anon key
VITE_SUPABASE_ANON_KEY=
# Reverse Geocoding
# Example:
# VITE_GEOCODING_PROVIDER=nominatim
VITE_GEOCODING_PROVIDER=vworld


VITE_VWORLD_API_KEY=http://localhost:5173/

# Optional API base URL
# VITE_API_BASE_URL=